/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced8;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Fira Sans', serif;
    background-color: olive;
}

.form-control:focus {
    box-shadow: navajowhite;
}

form p {
    font-size: 0.8em;
}

.form-div.login {
    margin-top: 100px;
}

.logout {
    color: red;
}

body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FYgmIibSnZs0%2Fmaxresdefault.jpg&f=1&nofb=1);
}